<p id="notice"><%= notice %></p>

<p>
  <strong>Cod carrera:</strong>
  <%= @carrera.Cod_carrera %>
</p>

<p>
  <strong>Nombre carrera:</strong>
  <%= @carrera.Nombre_carrera %>
</p>

<p>
  <strong>Jefe carrera:</strong>
  <%= @carrera.Jefe_carrera %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @carrera.Facultad_id %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
