<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mechon.Nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @mechon.Apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @mechon.Rut %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @mechon.Mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @mechon.Telefono %>
</p>

<p>
  <strong>Psu mat:</strong>
  <%= @mechon.Psu_mat %>
</p>

<p>
  <strong>Psu leng:</strong>
  <%= @mechon.Psu_leng %>
</p>

<p>
  <strong>Psu cien:</strong>
  <%= @mechon.Psu_cien %>
</p>

<p>
  <strong>Psu hist:</strong>
  <%= @mechon.Psu_hist %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @mechon.Ranking %>
</p>

<p>
  <strong>Nem:</strong>
  <%= @mechon.Nem %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @mechon.Carrera_id %>
</p>

<%= link_to 'Edit', edit_mechon_path(@mechon) %> |
<%= link_to 'Back', mechons_path %>
