<%= form_for(@facultad) do |f| %>
  <% if @facultad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facultad.errors.count, "error") %> prohibited this facultad from being saved:</h2>

      <ul>
      <% @facultad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_facultad %><br>
    <%= f.text_field :Nombre_facultad %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br>
    <%= f.text_field :Direccion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
